#Ignore ArcGIS Logs
.backups/*
ImportLog/*
Index/*

#Ignore Geodatabases
*.gdb


#Scratch


PatchConnect.gdb/*
PatchConnect.gdb/a00000001.gdbtable
PatchConnect.gdb/a00000001.gdbtablx
PatchConnect.gdb/a00000003.gdbtable
PatchConnect.gdb/a00000003.gdbtablx
PatchConnect.gdb/a00000004.CatItemsByPhysicalName.atx
PatchConnect.gdb/a00000004.CatItemsByType.atx
PatchConnect.gdb/a00000004.gdbtable
PatchConnect.gdb/a00000004.gdbtablx
PatchConnect.gdb/a00000006.gdbtable
PatchConnect.gdb/a00000006.gdbtablx
PatchConnect.gdb/timestamps
